doctype
html
  head 
    link(href='css/style.css', rel='stylesheet')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(language="JavaScript" src='js/script.js' type="text/javascript") 
  body
    #container
      #wrapper
        .row
